.main {
    min-height: 100vh;
    padding: 40px 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./../public/bb-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EFEDE7;
}
.titlecontainer{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 36px;
}
.teamcost{
    font-size: 20px;
}
.backHome{
    position: absolute;
    top: 0;
    left: 0;
    color: #B3110F;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
    font-size: 20px;
}
.backHome:hover{
    font-weight: bold;
}
.backHome:active{
    color:black;
}
.allPlayerToHire{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:60%;
    margin-bottom: 40px;
    margin-top: 20px;
}
.teamfull{
    font-size: 18px;
    color: #B3110F;
}
.teamnbplayer{
    font-size: 18px;
    font-weight: bold;
    color: #B3110F;
}