.main {
    min-height: 100vh;
    padding: 40px 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./../public/bb-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #EFEDE7;
}
.titlecontainer{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    height: 160px;
    width: 160px;
}
.title{
    margin-top: 10px;
    font-size: 36px;
}
.teamcost{
    font-size: 28px;
}
.backHome{
    position: absolute;
    top: 0;
    left: 0;
    color: #B3110F;
    padding: 10px 20px;
    border-bottom-right-radius: 20px;
    font-weight: 600;
    font-size: 20px;
}
.backHome:hover{
    font-weight: bold;
}
.backHome:active{
    color:black;
}
.allPlayerToHire{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:60%;
    margin-bottom: 40px;
    margin-top: 40px;
}
.separator{
    height: 3px;
    width:60%;
    background-color: #EFEDE7;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
}
.teamfull{
    font-size: 18px;
    color: #B3110F;
    font-style: italic;
    height: 22px;
    margin-top: -22px;
}
.teamnbplayer{
    font-size: 18px;
    font-weight: bold;
    color: #B3110F;
    height: 22px;
    margin-bottom: -22px;
}